\newcommand{\BeamNormalRomNdofs}{${BEAMNORMALROMNDOFS}}
\newcommand{\BeamNormalRomMaxModes}{${BEAMNORMALROMMAXMODES}}
\newcommand{\BeamNormalRomAssembly}{${BEAMNORMALROMASSEMBLY}}
\newcommand{\BeamNormalRomSolve}{${BEAMNORMALROMSOLVE}}
