\newcommand{\BeamMvnRomNdofs}{${BEAMMVNROMNDOFS}}
\newcommand{\BeamMvnRomMaxModes}{${BEAMMVNROMMAXMODES}}
\newcommand{\BeamMvnRomAssembly}{${BEAMMVNROMASSEMBLY}}
\newcommand{\BeamMvnRomSolve}{${BEAMMVNROMSOLVE}}
