\newcommand{\BlockMvnRomNdofs}{${BLOCKMVNROMNDOFS}}
\newcommand{\BlockMvnRomMaxModes}{${BLOCKMVNROMMAXMODES}}
\newcommand{\BlockMvnRomAssembly}{${BLOCKMVNROMASSEMBLY}}
\newcommand{\BlockMvnRomSolve}{${BLOCKMVNROMSOLVE}}
