\newcommand{\BlockMvnRrfMin}{${BLOCKMVNRRFMIN}}
\newcommand{\BlockMvnRrfMax}{${BLOCKMVNRRFMAX}}
\newcommand{\BlockMvnRrfMean}{${BLOCKMVNRRFMEAN}}
\newcommand{\BlockMvnExtMin}{${BLOCKMVNEXTMIN}}
\newcommand{\BlockMvnExtMax}{${BLOCKMVNEXTMAX}}
\newcommand{\BlockMvnExtMean}{${BLOCKMVNEXTMEAN}}
