\newcommand{\BlockNormalRomNdofs}{${BLOCKNORMALROMNDOFS}}
\newcommand{\BlockNormalRomMaxModes}{${BLOCKNORMALROMMAXMODES}}
\newcommand{\BlockNormalRomAssembly}{${BLOCKNORMALROMASSEMBLY}}
\newcommand{\BlockNormalRomSolve}{${BLOCKNORMALROMSOLVE}}
