\newcommand{\LpanelMvnRomNdofs}{${LPANELMVNROMNDOFS}}
\newcommand{\LpanelMvnRomMaxModes}{${LPANELMVNROMMAXMODES}}
\newcommand{\LpanelMvnRomAssembly}{${LPANELMVNROMASSEMBLY}}
\newcommand{\LpanelMvnRomSolve}{${LPANELMVNROMSOLVE}}
