\newcommand{\LpanelNormalRrfMin}{${LPANELNORMALRRFMIN}}
\newcommand{\LpanelNormalRrfMax}{${LPANELNORMALRRFMAX}}
\newcommand{\LpanelNormalRrfMean}{${LPANELNORMALRRFMEAN}}
\newcommand{\LpanelNormalExtMin}{${LPANELNORMALEXTMIN}}
\newcommand{\LpanelNormalExtMax}{${LPANELNORMALEXTMAX}}
\newcommand{\LpanelNormalExtMean}{${LPANELNORMALEXTMEAN}}
