\newcommand{\LpanelNormalRomNdofs}{${LPANELNORMALROMNDOFS}}
\newcommand{\LpanelNormalRomMaxModes}{${LPANELNORMALROMMAXMODES}}
\newcommand{\LpanelNormalRomAssembly}{${LPANELNORMALROMASSEMBLY}}
\newcommand{\LpanelNormalRomSolve}{${LPANELNORMALROMSOLVE}}
